/*===This is the LESS stylesheet for the Lion's Story Website===*/

/*===Lion's Story Brand Colors===*/

/*---Primary Colors---*/

/* @midnight-blue-primary: #292663;
@marigold-primary:  ; */

/*---Secondary Colors---*/ 
/* @emerald-secondary: #14b069;
@magenta-secondary: #dd2c74;
@sapphire-secondary: #428cf5;
@burnt-orange-secondary: #f04d24;
@nutmeg-secondary: #753626; */

/*===Lion's Story Fonts===*/

/* @title-font: 'Roboto', sans-serif;
@body-font: 'Lato', sans-serif; */




body {
	font-family: 'Lato', sans-serif;
	color: #292663;
	background-color:#faab21;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 14pt;
	text-align: center;
	color: #292663
}

p {
	text-align: justify;
	text-justify: inter-word;
	padding-left: 30px;
	padding-right: 30px;
}

#proverb {
	font-weight: 250;
	font-style: italic;
	
}

#our-approach-group {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#our-approach-group > button {
	width: 900;
}

.hero-about {
    height:70vh;
    /* width:100vw; */
    background-image:  url('../img/stock-photos/AdobeStock_105892254_Preview.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    padding:0;   
}
.inner {
    /* background:rgb(00,00,00,.5) ; */
    height:70vh;
    display:flex;
    align-items:center;
	justify-content: center;
	flex-direction:column;
}
.hero-about h1 {
	background-color:rgb(20, 176, 105,.5);
	margin:0;
	flex-direction:row;
    padding:2% 5% 2% 5%;
    font-size:4.5em;
    font-weight:bold;
    width:65%;
    margin:0 auto;
}

.racial-literacy [
	position:fixed;
]
.team-large{
	display: flex;
	flex-direction: row;
	padding-bottom: 30px;
	
}

.team-large > img {
	padding-left: 30px;
	flex-shrink: 0;
	align-self: center;
}
.team-large > p {
	display: flex;
	flex-direction: column;
}

.team-small{
	display: flex;
	flex-direction: row;
	padding-bottom: 30px;
}

.team-small > img {
	padding-left: 30px;
	flex-shrink: 0;
	align-self: center;
}
.team-small > p {
	display: flex;
	flex-direction: column;
}

.trainer-group{
	display: flex;
	flex-direction: row;
	padding-bottom: 20px;
}

.trainer {
	display: flex;
	flex-direction: column;
	margin: auto;
}