/* 
hex: #292663

rgb: 41 38 99
hex: #faab21

rgb: 250 171 33
hex: #dd2c74

rgb: 221 44 116
hex: #14b069

rgb: 20 176 105
hex: #428cf5

rgb: 66 140 245
hex: #f04d24

rgb: 240 77 36
hex: #753626

rgb: 117 54 38 */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}.container {
  background-color:white;
}

.hero-resources {
  height:70vh;

    background-image: url('../img/stock-photos/AdobeStock_104798909_Preview.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    padding:0;   
}
.inner {
    height:70vh;
    display:flex;
    align-items:center;
	justify-content: center;
	flex-direction:column;
}
.hero-resources h1 {
	background-color:rgba(66,140,245, 0.8);
	margin:0;
	flex-direction:row;
    padding:2% 5% 2% 5%;
    font-size:4.5em;
    font-weight:bold;
    width:65%;
    margin:0 auto;
    text-align: center;

}
/* ===About-Resources Section === */

.about-resources {
  height:20vh;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(240, 77,36, 0.8);
  text-align: center;
}

/*===Dr-Stevenson Section=== */

.container {
  
}
.dr-stevenson {
    display:flex;
    flex-wrap:wrap;
    margin:0 auto;
  
}
.dr-stevenson-img { 
    height:100%;
     min-width:40%; *
    /* background-image: url('../img/stock-photos/Howard-updated.jpg'); */
    /* /* background:no-repeat; */
    background-size:cover;
}
.dr-stevenson .info {
  padding:1% 3% 4% 3%;
  width:60%;
  height:100%;
  	background-color:rgba(66,140,245, 0.8);
}


/*===Videos Section=== */



.video-resources {
    min-height: 100%;
    height:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:0 auto;
    background-color: #14b069;
    text-align:center;
    padding-top:1%;

}
.video-resources h2 {
    color:#292663;
    text-align:center;
    flex-basis: auto;
}
.video-deck {
    
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;

}
.video-card {
    min-height:100%;
    width:33%;
    text-align:center;
    margin:0 auto;
}
/*===Articles-Books-Web Section=== */
.art-pap-web-section {
  width:100%;
  justify-content: center;
}
/* ===Work with us=== */
.work-with-us {
  height: 20vh;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  background-color: #428cf5;
}