/*===This is the LESS stylesheet for the Lion's Story Website===*/

/*===Lion's Story Brand Colors===*/

/*---Primary Colors---*/

/* @midnight-blue-primary: #292663;
@marigold-primary:  ; */

/*---Secondary Colors---*/ 
/* @emerald-secondary: #14b069;
@magenta-secondary: #dd2c74;
@sapphire-secondary: #428cf5;
@burnt-orange-secondary: #f04d24;
@nutmeg-secondary: #753626; */

/*===Lion's Story Fonts===*/

/* @title-font: 'Roboto', sans-serif;
@body-font: 'Lato', sans-serif; */


body {
	font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 14pt;
  text-align: left;
  padding-left: 30px;
	color: #292663
}

p {
	text-align: justify;
	text-justify: inter-word;
	padding-left: 30px;
	padding-right: 30px;
}


.hero-services {
    height:70vh;
    width:100vw;
    background-image:  url("/stock-photos/AdobeStock_199931209_Preview.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    padding:0;   
}
.inner {
    background: ;
    height:70vh;
    display:flex;
    align-items:center;
	justify-content: center;
	flex-direction:column;
}
.hero-services h1 {
	background-color:rgba(161, 53, 96, 0.8);
	margin:0;
	flex-direction:row;
    padding:2% 5% 2% 5%;
    font-size:4.5em;
    font-weight:bold;
    width:65%;
    margin:0 auto;
    text-align: center;

}

.services-header {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top:2%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;

  background-color:#faab21;
  text-align: center;
}

.services-header > button {
  width: 100;
}

.services {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
   padding-top:2%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
   background-color:#f04d24;
}

.services h2 {
  text-align: center;
}

.services > ul{
  display: flex;
  flex-flow: column;
  align-self: flex-start;
}

.services > button {
  width: 100;
  margin-left: 30px;
}
.assessments {
  background-color:#428cf5;
  padding-top:2%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.consulations {
  background-color:#14b069;
  padding-top:2%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

