
body {
    background-color: #fafdfe;
}
.hero-stories {
    height:70vh;
    width:100vw;
    background-image: url('../img/stock-photos/village.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    padding:0;
}
.inner {
    height:70vh;
    display:flex;
    align-items:center;
	justify-content: center;
	flex-direction:column;
}
.hero-stories h1 {
  	margin:0;
  	flex-direction:row;
    padding:2% 5% 2% 5%;
    font-size:4.5em;
    font-weight:bold;
    width:65%;
    margin:0 auto;
    text-align: center;
}
.testimonials {
    height:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:0 auto;
    text-align:center;
    padding-top:1%;
    line-height:2em;
    flex-direction:column;
}
.testimonials h2 {
    font-size:3em;
    padding-top: 50px;
    padding-bottom:50px;
}
.testimonials h3 {
  font-size:1.5em;
  margin-bottom: auto;
}
.testimonials h4 {
  font-size:1.0em;
}
.video-stories {
    min-height: 80%;
    height:60vh;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:0 auto;
    text-align:center;
    padding-top:1%;
}
.contributor-url {
  padding: 25px;
  padding-bottom: 55px;
  text-decoration: none;
  color: #faab21;
  font-size: 1.5em;
}

#poem {
  line-height: 15px;
}
