
.hero-stories {
    height:70vh;
    width:100vw;
    background-image: url('../img/stock-photos/village.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    padding:0;   
}
.inner {
    height:70vh;
    display:flex;
    align-items:center;
	justify-content: center;
	flex-direction:column;
}
.hero-stories h1 {
	background-color:rgba(240, 77,36, 0.8);
	margin:0;
	flex-direction:row;
    padding:2% 5% 2% 5%;
    font-size:4.5em;
    font-weight:bold;
    width:65%;
    margin:0 auto;
    text-align: center;
}
.testimonials {
    min-height: 80%;
    height:30vh;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:0 auto;
    background-color: #14b069;
    text-align:center;
    padding-top:1%;

}
.video-stories {
    min-height: 80%;
    height:60vh;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:0 auto;
    background-color: rgba(161, 53, 96, 0.8);;
    text-align:center;
    padding-top:1%;

}