/*===This is the LESS stylesheet for the Lion's Story Website===*/

/*===Lion's Story Brand Colors===*/

/*---Primary Colors---*/

/* @midnight-blue-primary: #292663;
@marigold-primary:  ; */

/*---Secondary Colors---*/ 
/* @emerald-secondary: #14b069;
@magenta-secondary: #dd2c74;
@sapphire-secondary: #428cf5;
@burnt-orange-secondary: #ffffff;
@nutmeg-secondary: #753626; */

/*===Lion's Story Fonts===*/

/* @title-font: 'Roboto', sans-serif;
@body-font: 'Lato', sans-serif; */


/*===Global Selectors===*/

body { 
  font-family:'Lato', sans-serif ;
  padding:0;
  margin:0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', sans-serif ;
    color:#292663;
}
h2 {
    padding:0;
    font-size:3.5em;
    margin:0 auto;
}
p {
    font-size: 1em;
    line-height:2em;
}
i {
    font-size:2.5em;
    margin-right:40px;
}


/*===Container Selectors===*/
.landing-container {
    min-height:100%;
    display:flex;
    padding:2% 4% 4% 3%;
    background-color:#292663;
}
.landing-container h2 {
    font-size:2em;
    font-weight:bold;
    text-align:center;
}
.landing-container-contact {
    height:100%;
    display:flex;
    padding:1% 4% 4% 3%;
    background-color:#292663;
}
/*===Navigation Selectors===*/

.navigation-bar {
  width:100%;      
  margin:0 auto;
  display:grid;
  grid-template-columns:25% 75%;
  height:18vh;
  background-color:#faab21;
  color:#292663;
  font-family: 'Roboto', sans-serif;
}
.nav-logo {
    display:grid;
    grid-template-columns: 100%;
    padding-left:20px;
}

.nav-logo img {
    padding:0 auto;
    height:18vh;
}

.nav-menu {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-content: center;
    height:100%;    
  }
.nav-menu a {
    margin-right:1.5em;
    color:black;
    font-size: 1.5em;
    text-decoration:none;
    font-weight:400;
    justify-self:center;
    /* border-right: #292663 solid 1px;
    border-left: #292663 solid 1px; */
    padding: 20px 25px 20px 25px;
}

/*===Hero Selectors===*/
.hero-landing {
    height:80vh;
    width:100vw;
    background-image:  url("/stock-photos/hero-landing.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    text-align:center;
    padding:0;   
}
.inner {
    background: rgba(250 ,171 ,33, 0.1);
    height:100%;
    display:grid;
    grid-template-rows: 50% 20%;
    align-content: center;
}
.hero-landing img {
   
    background-color: rgba(240,77,36,.92);
    color:#faab21;
    width:25%;
    margin:0 auto;
}

/*===Services Selectors===*/

.services-landing {
    display:grid;
    grid-template-rows:.5fr 2fr  fit-content(.2fr) 1fr;
    margin:0 auto;
    background-color: #faab21;
    text-align:center;
    height:80vh;
}
.services-landing h2 {
    color:#292663;
    padding-top:3%;
    font-size:3em;
    padding-bottom:3%;
    
}

.about-services {
    padding:0;
    
}

.services-landing div.learn-more {
    /* height:10%; */
}
.services-block {
    background-color:#ffffff;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-column-gap:3%;
    width:100%;
    
}

.service-container {
    height:100%;
    display:grid;
    grid-template-rows: auto auto auto;
    align-items:center;
    /* background-color:yellow; */
    justify-self: center;
}

.service-container img {

 width:100%;
 margin:0;
}
.service-container h2 {
    color:black
}

/*===About Selectors===*/

.about-landing {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-areas: " image image card card card card"
                         " image image para para para para"
                         " image image para para para para"
                         " image image para para para para"
                         ;
    padding:0;
    margin:0 auto;
    background-color:  #ffffff;
    height:80vh;
}
.about-image {
    height:100%;;
    background-image: url("/stock-photos/AdobeStock_105654266_Preview.jpeg");
    /* /* background:no-repeat; */
    background-size:cover; 
    grid-area: image;
}
.about-card-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 80%;
}
.about-card h2 {
    color:black;
    padding: 3px 10px 5px 18px;
    grid-area: card;
    font-size:2em;
}
.about-text {
/* justify-self: center; */
    align-self: center;
    font-size:.95em;
    height: 100%;
    grid-area:para;
    padding:35px;
}

/*===Stories Selectors===*/
.stories-landing {
    display:grid;
    grid-template-rows:.5fr 2fr 1fr 1fr;
    margin:0 auto;
    background-color: #faab21;
    text-align:center;
    height:80vh;
}
.services-landing h2 {
    color:#292663;
    font-size:2.5em;
    padding-top:3%;
    
}

.about-stories {
    padding:0;
    
}

.stories-landing div.learn-more {
    height:10%;
}
.stories-block {
    background-color:#ffffff;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-column-gap:3%;
    width:100%;
    
}

.story-container {
    height:100%;
    display:grid;
    grid-template-rows: auto auto auto;
    align-items:center;
    /* background-color:yellow; */
    justify-self: center;
}

.story-container img {

 width:100%;
 margin:0;
}
.story-container h2 {
    color:#292663;
    padding-top:3%;
    font-size:2em;
    padding-bottom:3%;
    
}
/*===Team Selectors===*/
.team-landing {
    display:grid;
    grid-template-rows:.5fr 2fr 1fr 1fr;
    margin:0 auto;
    background-color: #faab21;
    text-align:center;
    height:80vh;
}
.team-landing h2 {
    color:#292663;
    
}

.team-landing div.learn-more {
    height:10%;
}
.team-block {
    background-color:#ffffff;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-column-gap:3%;
    width:100%;
    
}

.team-container {
    height:100%;
    display:grid;
    grid-template-rows: auto auto auto;
    align-items:center;
    /* background-color:yellow; */
    justify-self: center;
}

.team-container img {
 width:100%;
 margin:0;
}
.service-container h2 {
    color:black
}

/*===Contact Selectors===*/
.landing-container-contact {


}
.contact-landing {
    display:grid;
   grid-template-rows: fit-content(50px)  fit-content(300px);
    padding:20px;
    margin:0 auto;
    background-color: #faab21 ;

    width:100%;
}
.contact-landing h2 {
 margin:0;
 display:inline;
 text-align:center;
 padding:10px;
}
#contact {
    padding-bottom:  0 !important;
}

/*===footer Selectors===*/
.container-footer {
 padding:1% 8% 8% 6%;
 background-color:#faab21;
}
.footer {
 margin:0 auto;
 display:grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr;
 grid-gap: 20px;
 grid-template-areas: 
      "header header signup signup"
      "header header signup signup"
      "footer footer footer footer";
 height:45vh;
  background-color:#faab21;
  color:#292663;
  font-family: 'Roboto', sans-serif;
}
.footer-logo {
    display:grid;
    grid-template-columns:100%;
    padding-left:20px;
}
.footer-logo img {
    padding:30px auto 20px auto;
    margin-bottom:10%;
    margin-top:5%;
    height:20vh;
}
.footer-menu {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-content: center;
    /* height:100%;     */
}
.footer-logo-nav-menu {

    grid-area:header;
    text-align:center;
    
}
.footer hr {
     background-color:black;
}

.newsletter-signup {
    padding-top:3%;
    grid-area:signup;
}
.container{
    padding:0;
    text-align: center;
}

.bottom-footer { 
    grid-area: footer;
    justify-self: end;
    padding-right:15%;
   

}
.bottom-footer i { 
    margin-top:20px;
}

/*===Buttons===*/
.learn-more{
    justify-self: center;
    margin:0 auto;
    padding-top:2%;
} 




























@media all and (max-width: 1690px) { 
    .nav-menu a {
        margin-right:1.5em;
        color:black;
        font-size: 1em;
        text-decoration:none;
        font-weight:400;
        justify-self:center;
        /* border-right: #292663 solid 1px;
        border-left: #292663 solid 1px; */
        padding: 15px 20px 15px 20px;
    }
    h2 {
        font-size:3em;
    }
    p {
        font-size: .9em;
         line-height:1.8em;
    }

    .hero-landing {
    height:60vh;
    width:100vw;
    }
    a {
        font-size:1em;
    }

 /*===Services Selectors===*/
  .services-landing {
    display:grid;
    grid-template-rows:.7fr .8fr 1fr ;
    margin:0 auto;
    background-color: #faab21;
    text-align:center;
    height:100%;
}
.services-landing h2 {
    color:#292663;
    margin:0;
}

.about-services p {
    padding:0;
    margin:0 auto;
    height:
}

.services-landing div.learn-more {
    height:10%;
}
.services-block {
    /* background-color:white; */
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-column-gap:3%;
    width:100%;
    /* height:50%; */
}

.service-container {
    height:100%;
    display:grid;
    grid-template-rows: auto auto auto;
    align-items:center;
    background-colo:;
    justify-self: center;
}

.service-container img {
 width:100%;
 margin:0;
}
.service-container h2 {
    color:black;
    font-size:1em;
}
.service-container p {
    color:black;
    font-size: .8em;
}

.about-landing {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 2fr 1fr;
    grid-template-rows: .4fr 1fr 1fr  ;
    grid-template-areas: " image image image image aproach history"
                         " image image image image para para"
                         " image image image image para para"
                        
                         ;
                        
}

 .services-landing {
    display:grid;
    grid-template-rows:.7fr .8fr 1fr ;
    margin:0 auto;
    background-color: #faab21;
    text-align:center;
    height:100%;
}

.about-services p {
    padding:0;
    margin:0 auto;
    height:
}

.services-landing div.learn-more {
    height:10%;
}
.services-block {
    /* background-color:white; */
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-column-gap:3%;
    width:100%;
    /* height:50%; */
}
 }
































@media all and (max-width: 1280px) { 
      .nav-menu a {
        margin-right:1.5em;
        color:black;
        font-size: 1em;
        text-decoration:none;
        font-weight:400;
        justify-self:center;
        /* border-right: #292663 solid 1px;
        border-left: #292663 solid 1px; */
        padding: 15px 20px 15px 20px;
    }
    h2 {
        font-size:3em;
    }
    p {
        font-size: .9em;
         line-height:1.8em;
    }

    .hero-landing {
    height:60vh;
    width:100vw;
    }
    a {
        font-size:1em;
    }

 /*===Services Selectors===*/
  .services-landing {
    display:grid;
    grid-template-rows:.5fr 2fr  fit-content(.2fr) 1fr;
    margin:0 auto;
    background-color: #faab21;
    text-align:center;
    height:100%;
}
.services-landing h2 {
    color:#292663;
    margin:0;
}

.about-services p {
    padding:0;
    margin:0 auto;
    height:
}

.services-landing div.learn-more {
    height:10%;
}
.services-block {
    /* background-color:white; */
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-column-gap:3%;
    width:100%;
    /* height:50%; */
}

.service-container {
    height:100%;
    display:grid;
    grid-template-rows: auto auto auto;
    align-items:center;
    background-color:;
    justify-self: center;
}

.service-container img {
 
 width:100%;
 margin:0;
}
.service-container h2 {
    color:black;
    font-size:1em;
}
.service-container p {
    color:black;
    font-size: .8em;
}

.about-landing {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 2fr 1fr;
    grid-template-rows: .4fr 1fr 1fr  ;
    grid-template-areas: " image image image image aproach history"
                         " image image image image para para"
                         " image image image image para para"
                        
                         ;
                        
}
.learn-more{
    justify-self: center;
    margin:0 auto;
} 

}



























































@media all and (max-width: 980px) { 
        .nav-menu a {
        margin-right:1.5em;
        color:black;
        font-size: 1em;
        text-decoration:none;
        font-weight:400;
        justify-self:center;
        /* border-right: #292663 solid 1px;
        border-left: #292663 solid 1px; */
        padding: 15px 20px 15px 20px;
    }
    h2 {
        font-size:3em;
    }
    p {
        font-size: .9em;
         line-height:1.8em;
    }

    .hero-landing {
    height:60vh;
    width:100vw;
    }
    a {
        font-size:1em;
    }

 /*===Services Selectors===*/
  .services-landing {
    display:grid;
   grid-template-rows:.5fr  fit-content(.2fr) 1fr;
    margin:0 auto;
    background-color: #faab21;
    text-align:center;
    height:100%;
}
.services-landing h2 {
    color:#292663;
    margin:0;
}

.about-services p {
    padding:0;
    margin:0 auto;
    height:
}

.services-landing div.learn-more {
    height:10%;
}
.services-block {
    /* background-color:white; */
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-column-gap:3%;
    width:100%;
    /* height:50%; */
}

.service-container {
    height:100%;
    display:grid;
    grid-template-rows: auto auto auto ;
    align-items:center;
    background-color:;
    justify-self: center;
}

.service-container img {
 
 width:100%;
 margin:0;
}
.service-container h2 {
    color:black;
    font-size:1em;
}
.service-container p {
    color:black;
    font-size: .8em;
}

.about-landing {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 2fr 1fr;
    grid-template-rows: .4fr 1fr 1fr  ;
    grid-template-areas: " image image image image aproach history"
                         " image image image image para para"
                         " image image image image para para"
                        
                         ;
                        
}
  .learn-more{
   
 
} 



}




























@media all and (max-width: 736px) {
    
    h2 {
        font-size:2em;
    }
    p {
        font-size: .8em;
        line-height:1.75em;
    }

      .nav-menu a {
    margin-right:1em;
    color:black;
    font-size: 1em;
    text-decoration:none;
    font-weight:400;
    justify-self:center;
    /* border-right: #292663 solid 1px;
    border-left: #292663 solid 1px; */
    padding: 10px 15px 10px 15px;
}

  .hero-landing {
    height:50vh;
    width:100vw;
}

 }

























@media all and (max-width: 480px) {
     h2 {
        font-size:1em;
    }
    p {
        font-size: .6em;
        line-height:1.2em;
    }
      .nav-menu a {
    margin-right:1em;
    color:black;
    font-size: .75em;
    text-decoration:none;
    font-weight:400;
    justify-self:center;
    /* border-right: #292663 solid 1px;
    border-left: #292663 solid 1px; */
    padding: 5px 10px 5px 10px;
}
  .hero-landing {
    height:50vh;
    width:100vw;
}
 }
















