/*===This is the LESS stylesheet for the Lion's Story Website===*/

/*===Lion's Story Brand Colors===*/

/*---Primary Colors---*/

/*
@midnight-blue-primary: #292663;
@marigold-primary: #faab21 ;
*/

/*---Secondary Colors---*/
/*
@emerald-secondary: #14b069;
@magenta-secondary: #dd2c74;
@sapphire-secondary: #428cf5;
@burnt-orange-secondary: #ffffff;
@nutmeg-secondary: #753626;

*/

/*===Lion's Story Fonts===*/

/*
@title-font: 'Roboto', sans-serif;
@body-font: 'Lato', sans-serif;
 */


/*===Global Selectors===*/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family:'Lato', sans-serif ;
    padding:0;
    margin:0;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', sans-serif ;
    color:#292663;
}
h2 {
    font-size:3.5em;
    margin:0 auto;
}
p {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.2em;
    line-height:2em;
}
i {
    font-size:2.5em;
    margin-right:40px;
}
a{
    outline: 0;
}
.more-info-button {
    background-color: #faab21;
    color: #292663;
    text-decoration: none;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5%;
}
.learn-more-button {
    background-color: #faab21;
    color: #292663;
    text-decoration: none;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 2%;
}
.button {
    background-color: #faab21;
    color: #292663 !important;
    font-size: 20px;
    text-decoration: none;
    border: none;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 4%;
}
a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

/*===Container Selectors===*/
.container {
    /* min-height:100%; */
    display:flex;
    width: 100%;
    padding:2% 3% 5% 3%;
    background-color:#fafdfe;
}
.container h2 {
    font-weight:bold;
    text-align:center;
}
    .landing-container-contact {
        height:100%;
        width:100%;
        display:flex;
        padding:1% 4% 4% 3%;
        background-color:#fafdfe;
    }

    /*===Navigation Selectors===*/
    .navigation-bar {
        height:10vh;
        margin: auto;
        display:flex;
        justify-content: space-between;
        padding-right:30px;
        background-color:#fafdfe;
        color:#292663;
        font-family: 'Roboto', sans-serif;
    }
    .burger {
        display: none;
    }
    .nav-logo {
        display: flex;
        padding-left:20px;
        flex-direction: column;
        justify-content: center;
    }
    .nav-logo img {
        vertical-align: middle;
        height:5vh;
        margin-top: 1%;
    }
    .nav-menu {
        display:flex;
        align-content: center;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 2;
        height:100%;
        width:50%;
    }
    .nav-menu a {
        margin-right:1em;
        margin-left:1em;
        color:#292663;
        font-size: 1.5em;
        text-decoration:none;
        font-weight:400;
        justify-self:center;
        /* border-right: #292663 solid 1px;
        border-left: #292663 solid 1px; */
    }

    /*===Hero Selectors===*/
.hero-landing {
    height:80vh;
    width:100vw;
    padding:0;
}
#hero-landing::before{
    background-image: url(../img/stock-photos/LS-home-page.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    content: '';
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
    z-index:-1;
}
.inner {
    display: flex;
    flex-direction: column;
    background-color:rgba(232, 224, 215, 0.6);
    position: relative;
    top: 35% !important;
    width: 50%;
    height: auto !important;
    padding-left: 1%;
    margin-left: 3%;
}
.inner > p {
    padding-left: 0;
    padding-right: 0;
    color:#292663;
}
#hero-text{
    margin: 0;
    width: auto;
    display: flex;
    font-size: 300%;
}

/*===Services Selectors===*/
.services-landing {
    height:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:0 auto;
    background-color: #fafdfe;
    text-align:center;
}
.services-landing h2 {
    width:100%;
    color:#292663;
    padding:2%;
}
.about-services {
    padding:10px 20px 20px 20px;
    align-self: center;
}
.about-services > p{
    padding: 0;
    margin-bottom: 3% !important;
    text-align: justify;
}
.services-landing .learn-more {
    padding:40px;
}
.services-deck {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding:10px 20px 30px 20px;
    background-color:#ffffff;
}
.service-card {
    height:100%;
    width:30%;
    /* border:black solid 2px; */
}
.service-card img {
    width:100%;
    margin:0;
}
.service-card h2 {
    color:#fafdfe
}
.service-card > p {
    margin-bottom: 9%;
}

blockquote {
    background-color:#faab21;
    text-align: center;
    color:#292663;
    font-size:1.5em;
    width: 100%;
    color:#292663;
    font-size:1.5em;
    padding-top:5%;
    padding-bottom:5%;
    padding-left: 15%;
    padding-right: 15%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3%;
}
/*===About Selectors===*/
.about-landing {
    height:75vh;
    display:flex;
    flex-wrap:wrap;
    margin:0 auto;
    margin-bottom: 25px;
    background-color: #fafdfe;
}
.about-image {
    height:100%;
    width:40%;
    background-image: url('../img/stock-photos/AdobeStock_105654266_Preview.jpeg');
    /* /* background:no-repeat; */
    background-size:cover;
}
.tablinks{
    color: #292663;
}
.clickable-container {
    width:60%;
    height:100%;
    padding:0;
}
.about-tab {
    height:10%;
    display:flex;
    justify-content:flex-end;
}
.about-tab button {
    width:100%;
    font-size: 25px;
    background-color:#fafdfe;
    border:none;
}
.about-tab button:hover{background-color:#faab21;}

.about-card > .button{
    margin-top: 50px;
}
.about-card > p{
    margin-bottom: 35px;
}

button:focus{background-color:#faab21;}



.about-deck {
  height:90%;
  background-color:#fafdfe;
  margin:0;
}
.about-card {
  display:none;
  width:100%;
}
#approach{
    display: block;
}
.about-card h1 {
    margin-left: 3%;
}
.about-text {
/* justify-self: center; */
    align-self: center;
    font-size:.95em;
    height: 100%;
    grid-area:para;
    padding:15%;
}
.services-landing {
    display: flex;
    flex-direction: column;
}
.services-landing .learn-more {
    width:100%;
}
/*===Stories Selectors===*/
.stories-landing {
    height:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:0 auto;
    background-color: #fafdfe;
    text-align:center;
}
.stories-landing h2 {
    color:#292663;
    padding:2%;

}
.stories-landing div.learn-more {
}

.stories-deck {
    height:100%;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding:10px 20px 30px 20px;
    background-color:#ffffff;
}
.story-card {
    height:100%;
    width:50%;
}

.learn-more-village{
    width:100%;
}
/*==Seperator Image==*/
.seperator-image > img{
    width: 100%;
    height: 50%;
}
/*===Team Selectors===*/
.team-landing {
    height:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:0 auto;
    background-color: #fafdfe;
    text-align:center;
}
.team-landing h2 {
    padding:2%;
}
.team-services > p{
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 2%;
}
.about-team {
}
.team-deck {
    width:100%;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding:10px 20px 30px 20px;
    background-color:#fafdfe;
}
.team-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    height:100%;
    width:30%;
    margin-top: 2%;
}
.team-card img {
    width:100%;
}

/*===Contact Selectors===*/
.landing-container-contact {

}
.contact-landing {
    padding-bottom:3%;
    display:flex;
    flex-direction: column;
    background-color: #fafdfe ;
}
.contact-form-button{
    background-color: #faab21;
    font-size: 20px;
    color: #292663;
    text-decoration: none;
    border: none;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 4%;
    margin-right: 4%;
}
.contact-landing h2 {
    margin:0;
    display:inline;
    text-align:center;
}
#contact {
    padding-bottom:  0 !important;
}
/*===footer Selectors===*/
.container-footer {
    background-color:#faab21;
}
.footer {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    /* height:100%; */
    background-color:#faab21;
    color:#292663;
    font-family: 'Roboto', sans-serif;
}
.footer-logo img {
    height:20vh;
    padding-bottom:3%;
}
.footer-menu {
    display:flex;
    justify-content:space-between;
    align-content: center;
    padding:6%;
    /* height:100%;     */
    color:black;
    font-size: 1.5em;
    text-decoration:none;
    font-weight:400;
}
.footer-logo-nav-menu {
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    width:50%;
}
.newsletter-signup {
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content:center;
}
.news-container{
    padding:0;
    text-align: center;
}

.bottom-footer {
    width:100%;
    display:flex;
    justify-content:space-between;

}
.footer-fav {
    display: flex;
    justify-content: center;
}
.work-with-us{
    text-align: center;
}

i {
    font-size:2.5em;
}

/*===Buttons===*/
